body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: #74c0fc;
  text-align: center;
  margin: 0;
  padding: 0;
}

h1 {
  background-color: #ef5350;
  color: white;
  margin: 0;
  padding: 20px;
  font-size: 2rem;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

input {
  padding: 10px;
  margin-top: 20px;
  border-radius: 20px;
  border: none;
  outline: none;
  width: 200px;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

button {
  padding: 10px 15px;
  margin-left: 10px;
  border: none;
  border-radius: 20px;
  background-color: #42a5f5;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: #1e88e5;
}

#loading {
  margin-top: 20px;
  font-weight: bold;
  color: #333;
}

#error {
  margin-top: 20px;
  color: red;
  font-weight: bold;
}

#pokemonCard {
  margin: 30px auto;
  padding: 20px;
  width: 250px;
  background: white;
  border-radius: 20px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
  transition: transform 0.3s;
}

#pokemonCard:hover {
  transform: scale(1.05);
}

.hidden {
  display: none;
}

#pokemonCard h2 {
  margin-bottom: 10px;
  text-transform: capitalize;
}

#pokemonCard img {
  width: 120px;
  height: 120px;
}

#pokemonCard p {
  margin: 5px 0;
  font-size: 14px;
}

.tipo {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 15px;
  color: white;
  font-size: 12px;
  margin: 5px;
}

.electric { background: #fbc02d; }
.fire { background: #ef5350; }
.water { background: #42a5f5; }
.grass { background: #66bb6a; }
.poison { background: #ab47bc; }
.normal { background: #bdbdbd; }