body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: #1e3a5f;
  text-align: center;
  margin: 0;
  padding: 0;
  color: white;
}

/* HEADER tipo pokedex */
h1 {
  background: linear-gradient(90deg, #ff3d3d, #ff6b6b);
  color: white;
  margin: 0;
  padding: 20px;
  font-size: 2.2rem;
  letter-spacing: 2px;
  text-shadow: 2px 2px 5px rgba(0,0,0,0.5);
  box-shadow: 0 5px 15px rgba(0,0,0,0.4);
}

/* INPUT estilo gamer */
input {
  padding: 12px;
  margin-top: 30px;
  border-radius: 10px;
  border: 2px solid #42a5f5;
  outline: none;
  width: 220px;
  text-align: center;
  background: #0d1b2a;
  color: white;
  box-shadow: 0 0 10px rgba(66,165,245,0.5);
}

input::placeholder {
  color: #bbb;
}

/* BOTÓN */
button {
  padding: 12px 18px;
  margin-left: 10px;
  border: none;
  border-radius: 10px;
  background: #42a5f5;
  color: white;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
  box-shadow: 0 0 10px rgba(66,165,245,0.6);
}

button:hover {
  background: #1e88e5;
  transform: scale(1.05);
}

/* LOADING */
#loading {
  margin-top: 20px;
  font-weight: bold;
  color: #fff;
  text-shadow: 0 0 10px #42a5f5;
}

/* ERROR */
#error {
  margin-top: 20px;
  color: #ff4d4d;
  font-weight: bold;
}

/* CARD estilo gamer */
#pokemonCard {
  margin: 40px auto;
  padding: 20px;
  width: 260px;
  background: #0d1b2a;
  border-radius: 15px;
  border: 2px solid #42a5f5;
  box-shadow: 0 0 25px rgba(66,165,245,0.6);
  transition: transform 0.3s, box-shadow 0.3s;
}

#pokemonCard:hover {
  transform: scale(1.05);
  box-shadow: 0 0 40px rgba(66,165,245,1);
}

/* Nombre */
#pokemonCard h2 {
  margin-bottom: 10px;
  text-transform: capitalize;
  color: #ffd54f;
  text-shadow: 0 0 10px rgba(255,213,79,0.8);
}

/* Imagen */
#pokemonCard img {
  width: 130px;
  height: 130px;
  filter: drop-shadow(0 0 10px rgba(255,255,255,0.5));
}

/* Texto */
#pokemonCard p {
  margin: 5px 0;
  font-size: 14px;
}

/* TIPOS estilo badges gamer */
.tipo {
  display: inline-block;
  padding: 5px 12px;
  border-radius: 10px;
  color: white;
  font-size: 12px;
  margin: 5px;
  font-weight: bold;
  box-shadow: 0 0 8px rgba(255,255,255,0.5);
}

/* Colores tipos */
.electric { background: #fbc02d; color: black; }
.fire { background: #ff5722; }
.water { background: #2196f3; }
.grass { background: #4caf50; }
.poison { background: #9c27b0; }
.normal { background: #9e9e9e; }

/* ocultar */
.hidden {
  display: none;
}